@keyframes Button__ripple--opacity {
  from {
    opacity: 1;
    transform: scale(0);
  }

  50% {
    opacity: 0.75;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}